@blue: #20A0FF;
@sim-blue: #71b8ee;
@mid-blue: #189cff;
@deep-blue: #1D8CE0;
@gray: #999;
@white: #fff;
html,body,div,span,p,h1,h2,h3,h4,h5,h6,i,label,input,fieldset,button,img,a,i,header,section,footer,aside,ul,li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 16px;
  body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    background-color: #C0CCDA;
    line-height: 1.7;
    word-wrap: break-word;
    color: #222;
    a{
      text-decoration: none;
      color: #000;
    }
    .pull-left{
      float: left;
    }
    .pull-right{
      float: right;
    }
    .clearfix{
      &::before{
        content: "";
        display: block;
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
      }
    }
  }
}
.text-bold{
  font-weight: bold;
}
.text-blue{
  color: @blue;
}
.text-gray{
  color: #999;
}
.btn{
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #fff;
  padding: 8px 15px;
  cursor: pointer;
  &.btn-blue{
    background-color: @blue;
    border-color: @blue;
    color: @white;
    &:hover{
      background-color: @deep-blue;
      border-color: @deep-blue;
    }
    &:active{
      background-color: @mid-blue;
      border-color: @mid-blue;
    }
    &.disabled{
      background-color: @sim-blue;
      border-color: @sim-blue;
    }
  }
}
.shadow-box{
  box-shadow: 0 0 5px #999;
}
